$black_color: #7a7878;
$white_color: #fff;
$grey_color: #333333;
$header_fon: #f4f4f4;
$header_color: #9f9f9f;

$light_grey: #e9e9e9;
$bgb: #202e37;


$pfdr: 'pfdr';
$pfdb: 'pfdb';
$hncr: 'hncr';
$roboto: 'roboto';

@import "em";

$base-font-size: 16px;
$font-size-37: 37px;
$font-size-17: 17px;
// $font-size-16: 16px;

// h2 {
//   font-size: em($font-size-70, $base-font-size);
//   line-height: em(1.23, $font-size-70);
//   text-transform: uppercase;
//   //border-bottom: em(1px solid black, $h2-font-size);
//   //box-shadow: em(0 0 2px #ccc, inset 0 0 5px #eee, $h2-font-size);
//   //@include em((
//   //        margin: 20px,
//   //        padding: 10px
//   //), $h2-font-size);
// }

// h3{
//   font-size: em($font-size-60, $base-font-size);
// }
// span.title{
//   font-size: em($font-size-24, $base-font-size);
// }
// .we_are{
//   font-size: em($font-size-22, $base-font-size);
// }
// .parag{
//   font-size: em($font-size-20, $base-font-size);
//   @include em((
//           line-height: 1.5,
//           margin-bottom: 15px
//   ),$font-size-20);
//   color: $grey_color;
//   display: block;
// }
// .btn{
//   font-size: em($font-size-22, $base-font-size);
//   padding: em(15px 30px, $font-size-22);
// }
